/* You can add global styles to this file, and also import other style files */
.border-primary{
  border: solid 1px;
  border-color:#007bff;
}

.border-bottom-primary{
  border-bottom: solid 1px;
  border-color:#007bff;
  background: #ffffff;
}


.border-warning{
  border: solid 1px;
  border-color: #c97200ea;
}



.border-success{
  border: solid 1px;
  border-color:#28a745;
}
